<app-header title="{{loadedMotorcycle.modelo}}" goHome="true"></app-header>

<ion-content fullscreen>
  <ion-card>
    <div class="ion-justify-content-center">
      <img [src]="loadedMotorcycle.foto" />
    </div>
    <ion-card-header>
      <ion-card-subtitle> {{loadedMotorcycle.marca}} </ion-card-subtitle>
      <ion-card-title>{{loadedMotorcycle.modelo}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and
      climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-button (click)="deleteMotorcycle()" color="warning" size="default">
      Borrar moto
    </ion-button>
  </ion-card>
</ion-content>
