<ion-item *ngFor="let bike of motorcycles" (click)="goToDetail(bike)">
  <ion-avatar slot="start">
    <ion-img [src]="bike.foto"></ion-img>
  </ion-avatar>
  <ion-label>{{ bike.modelo }}</ion-label>
</ion-item>
